<!-- Footer Start -->
<div class="container-fluid footer py-5">
    <div class="container py-5">
        <div class="row g-5">
            
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Hizmetlerimiz</h4>
                    <a asp-controller="_SkinCare" asp-action="Index" class="fas fa-angle-right me-2"></i>Cilt Bakımı</a>
                    <a asp-controller="_CasualMakeup" asp-action="Index" class="fas fa-angle-right me-2"></i>Normal Makyaj</a>
                    <a asp-controller="_PorcelainMakeup" asp-action="Index" class="fas fa-angle-right me-2"></i>Kalıcı Makyaj</a>
                    <a asp-controller="_Waxing" asp-action="Index" class="fas fa-angle-right me-2"></i>Ağda</a>
                    <a asp-controller="_Laser" asp-action="Index" class="fas fa-angle-right me-2"></i>Lazer Epilasyon</a>
                    <a asp-controller="_HairCare" asp-action="Index" class="fas fa-angle-right me-2"></i>Saç Bakımı</a>
                    <a asp-controller="_HandCare" asp-action="Index" class="fas fa-angle-right me-2"></i>El Bakımı</a>
                    <a asp-controller="_FootCare" asp-action="Index" class="fas fa-angle-right me-2"></i>Ayak Bakımı</a>

                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Çalışma Saatlerimiz</h4>
                    <p class="text-muted mb-0">Pazartesi: <span class="text-white"> 09:00 – 20:00 </span></p>
                    <p class="text-muted mb-0">Salı: <span class="text-white"> Kapalı </span></p>
                    <p class="text-muted mb-0">Çarşamba: <span class="text-white"> 09:00 – 20:00 </span></p>
                    <p class="text-muted mb-0">Perşembe: <span class="text-white"> 09:00 – 20:00 </span></p>
                    <p class="text-muted mb-0">Cuma: <span class="text-white"> 09:00 – 20:00 </span></p>
                    <p class="text-muted mb-0">Cumartesi: <span class="text-white"> 09:00 – 20:00 </span></p>
                    <p class="text-muted mb-0">Pazar: <span class="text-white"> 09:00 – 18:00 </span></p>

                    <h4 class="my-4 text-white">Adres</h4>
                    <p class="mb-0"><i class="fas fa-map-marker-alt text-secondary me-2"></i> 2000 Evler Mah. Yunus Koca Sk. No:40 Nevşehir/Merkez</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                    <h4 class="mb-4 text-white">Bizi Takip Edin</h4>
                    <a href="https://www.instagram.com/berrecakirr/"><i class="fas fa-angle-right me-2"></i> Instagram</a>
                    <h4 class="my-4 text-white">Bize Ulaşın</h4>
                    <p class="mb-0"><i class="fas fa-envelope text-secondary me-2"></i> pinkybeauty@gmail.com</p>
                    <p class="mb-0"><i class="fas fa-phone text-secondary me-2"></i> 0538 218 51 38</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-3">
                <div class="footer-item d-flex flex-column">
                   <img src="~/img/pinkybeauty_cropped.jpeg" width="300" height="300" />
                </div>
          </div>
        </div>
    </div>
</div>
<!-- Footer End -->

