<!DOCTYPE html>
<html lang="en">

    <head>
       <partial name="_Head"></partial>
    </head>

    <body>
        <header>
       <partial name="_Header"></partial>
    </header>

        @RenderBody()
    <footer>
        <partial name="_Footer"></partial>
    </footer>
        <!-- Back to Top -->
        <a href="#" class="btn btn-primary btn-primary-outline-0 btn-md-square rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>      
       <partial name="_Script"></partial>
    </body>

</html>