<div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 800px;">
        <h1 class="display-3">Kalıcı Makyaj Hizmetimiz</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Microblading ile Kaş Şekillendirme</h3>
                            <p>Kaşları daha dolgun ve belirgin hale getirmek için microblading uygulaması yapılır. Bu işlem, doğal kıl görünümlü ince çizgilerle kaşların şeklini ve yoğunluğunu artırır.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/Microblading.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/pudralamakas.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Pudralama Tekniği ile Kaş Dolgunlaştırma</h3>
                            <p>Daha yumuşak ve doğal bir görünüm elde etmek için kaşlara pudralama tekniği uygulanır. Kaşlara doğal bir gölge etkisi kazandırarak dolgun bir görünüm sağlar.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Kalıcı Dudak Renklendirme</h3>
                            <p>Dudaklara kalıcı bir renk verilir ve dudakların doğal hatları belirginleştirilir. Bu işlem, dudaklara sürekli canlı ve dolgun bir görünüm kazandırır.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/dudakkalıcı.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/eyeliner.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Kalıcı Eyeliner Uygulaması</h3>
                            <p>
                                Göz hatlarına kalıcı eyeliner çekilerek gözlerin daha belirgin ve çekici görünmesi sağlanır. Bu işlem günlük eyeliner kullanımı ihtiyacını azaltır.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Kirpik Diplerine Kalıcı Pigmentasyon</h3>
                            <p>Kirpiklerin diplerine uygulanan pigmentasyon işlemi, kirpiklerin daha dolgun ve yoğun görünmesini sağlar. Gözlere derinlik kazandırır.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/kirpik.jpg"class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/fondöten.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Kalıcı Fondöten Uygulaması</h3>
                            <p>
                                Cilt tonunu eşitlemek ve daha pürüzsüz bir görünüm elde etmek için cilde kalıcı fondöten işlemi uygulanır. Bu işlem cilde doğal bir parlaklık kazandırır ve lekeleri gizler.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Medikal Pigmentasyon (Yara veya Leke Kapatma)</h3>
                            <p>
                                Ciltteki izler, yara ve lekelerin görünümünü azaltmak için medikal pigmentasyon uygulanır. Özellikle cilt tonu farklılıklarını kapatmak için tercih edilir.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/lekekapama.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/cil.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Çil ve Benek Uygulaması</h3>
                            <p>
                                Doğal bir görünüm elde etmek için yüze kalıcı çil veya benekler eklenir. Özellikle son yıllarda popüler hale gelen bu işlem, cilde daha genç, enerjik ve doğal bir hava kazandırır.
                                Bu uygulama, cilt tonuna uygun doğal renklerde yapılarak kişiye özel bir görünüm oluşturur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
