<div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 800px;">
        <h1 class="display-3">Lazer Epilasyon Hizmetimiz</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Danışmanlık ve Ön Değerlendirme</h3>
                            <p>
                                İlk olarak, cilt tipi ve tüy yapısı değerlendirilir. Lazer epilasyonun etkili ve güvenli olması için uygun lazer türü ve seans sayısı belirlenir.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/danısmanlık.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ağdacilthazırlığı.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Cilt Hazırlığı</h3>
                            <p>Lazer epilasyon öncesinde, uygulanacak bölge temizlenir. Cilt yüzeyindeki makyaj, yağ ve kir gibi unsurlar temizlenerek lazerin doğrudan cilt altındaki kıl köklerine ulaşması sağlanır.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Lazer Tipinin Belirlenmesi</h3>
                            <p>
                                Müşterinin cilt tonu ve kıl yapısına uygun lazer tipi (örneğin, diode, alexandrite veya lazer) seçilir. Bu, maksimum etki sağlamak ve cilt tahrişini önlemek için önemlidir.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/lazertipininbelirlenmesi.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/korumaonlemleri.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>
                                Koruma Önlemleri
                            </h3>
                            <p>
                                İşlem sırasında gözlerin korunması için özel lazer gözlükleri takılır. Bu, lazer ışınlarının gözlere zarar vermesini önler.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Lazer Uygulaması</h3>
                            <p>Lazer cihazı, uygulanacak bölgeye temas ettirilerek kıl köklerine lazer enerjisi iletilir. Bu enerji, kıl köklerini hedef alarak tüylerin kalıcı olarak yok olmasını sağlar.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/lazeruygulamsı.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ciltrahatlatma.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Cilt Soğutma ve Rahatlatma</h3>
                            <p>
                                Lazer sonrası cilt yüzeyinde hassasiyet oluşabileceği için bölgeye soğutma uygulanır. Soğuk kompres veya cilt yatıştırıcı jel ile cilt rahatlatılır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Lazer Sonrası Bakım Önerileri</h3>
                            <p>
                                Lazer sonrası cildi korumak ve tahrişi önlemek için güneş kremi kullanımı ve cildi nemlendirme gibi öneriler sunulur. İşlemden sonra direkt güneş ışığına maruz kalmaktan kaçınılması tavsiye edilir.
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/lazersonrasıbakım.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/takip.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Seans Planlaması</h3>
                            <p>
                                Tüylerin büyüme döngüsüne göre bir sonraki seans için uygun zaman aralığı belirlenir ve randevu planlaması yapılır. Ortalama 4-6 hafta arayla yapılan seanslarla etkin sonuçlar elde edilir.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


