<div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 800px;">
        <h1 class="display-3">El Bakımı ve Manikür Hizmetimiz</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>El Analizi ve Danışmanlık</h3>
                            <p>
                                Cilt tipi ve tırnak yapısı analiz edilir, mevcut problemler (kuru cilt, kırılgan tırnaklar vb.) göz önünde bulundurularak kişiye özel bir bakım planı hazırlanır.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/elllll.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/elleritemizleme.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Elleri Temizleme ve Hazırlık</h3>
                            <p>
                                Ellerin derinlemesine temizlenmesi sağlanır ve bakım öncesi eller dezenfekte edilir. Bu aşama, cildi yumuşatmak ve ölü derilerden arındırmak için önemlidir.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Peeling Uygulaması</h3>
                            <p>
                                Ellerdeki ölü deriyi arındırmak için peeling yapılır. Bu işlem, cildin daha pürüzsüz ve canlı görünmesini sağlar.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/peeling.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/tırnaksekillendirme.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>
                                Tırnak Şekillendirme
                            </h3>
                            <p>
                                Tırnaklar istenilen şekle göre törpülenir ve düzeltilir. Bu aşamada tırnak uzunluğu ve şekli, müşterinin tercihine göre ayarlanır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Kütikül Bakımı</h3>
                            <p>Tırnak etleri dikkatlice temizlenir ve kütiküller geriye itilir. Bu aşama, tırnakların daha bakımlı görünmesini sağlar.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/kütıkül.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ellereserum.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Nemlendirici Maske veya Serum Uygulaması</h3>
                            <p>
                                Ellere yoğun nemlendirme sağlayan maskeler veya serumlar uygulanır. Bu işlem, ellerin daha yumuşak ve nemli kalmasını destekler.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Tırnak Cilası veya Oje Uygulaması</h3>
                            <p>
                                İsteğe bağlı olarak tırnak cilası veya oje uygulanır. Oje rengi ve tarzı, müşterinin tercihine göre seçilir.
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/oje.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/elmasajı.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Masaj ve Son Dokunuşlar</h3>
                            <p>
                                Eller ve bileklere masaj yapılarak kan dolaşımı hızlandırılır. Bakım sonrasında ellere pürüzsüz ve parlak bir görünüm kazandırılır, son dokunuşlar tamamlanır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



