<div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 800px;">
        <h1 class="display-3">Saç Bakımı Hizmetimiz</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Saç Analizi ve Danışmanlık</h3>
                            <p>
                                Saç tipi, saç derisi durumu ve mevcut sorunlar (kuru saç, kepek, kırık uçlar gibi) değerlendirilir. Bu analiz sonucunda saç yapısına uygun bir bakım planı oluşturulur.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/sacanalizi.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/sacderisitemizleme.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Saç Derisinin Temizlenmesi</h3>
                            <p>
                                Saç derisinin derinlemesine temizlenmesi için özel şampuanlar ve temizleyici ürünler kullanılır. Bu aşama, saç derisinde birikmiş olan yağ, kir ve saç ürünlerinden arınmayı sağlar.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Nemlendirme ve Besleme</h3>
                            <p>
                                Saçın nem dengesini sağlamak için yoğun nemlendirici ve besleyici maskeler uygulanır. Saçın daha sağlıklı ve parlak görünmesini sağlayan bu aşama, özellikle kuru ve yıpranmış saçlar için önemlidir.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/nemlendirmevebesleme.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/kerayin.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>
                                Keratin ve Protein Tedavisi
                            </h3>
                            <p>
                                Saçın güçlenmesi ve kırılmaya karşı dayanıklılık kazanması için keratin ve protein içeren özel tedavi ürünleri uygulanır. Bu aşama, saç tellerini yeniden yapılandırarak daha dolgun ve sağlıklı görünmesini sağlar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Saç Maskesi Uygulaması</h3>
                            <p>Saç tipine özel maskelerle derinlemesine bakım yapılır. Saç maskesi, saçın daha yumuşak ve kolay şekil alabilir olmasına yardımcı olur.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/sacmaskesi.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/sacderisimasajı.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Saç Derisi Masajı</h3>
                            <p>
                                Kan dolaşımını hızlandırarak saç köklerini canlandırmak için saç derisine nazik bir masaj yapılır. Bu masaj, saçın daha hızlı ve sağlıklı uzamasını destekler.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Saç Kesimi ve Şekillendirme</h3>
                            <p>
                                İhtiyaçlara göre saç uçlarındaki kırıkları alarak veya isteğe bağlı olarak şekillendirme işlemi yapılır. Saç kesimi, saçın daha sağlıklı görünmesine ve şekil almasına katkı sağlar.
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/sackesimi.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/sonbakım.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Son Bakım ve Stil Önerileri</h3>
                            <p>
                                Saç bakımı tamamlandıktan sonra, günlük saç bakım rutininde kullanılacak ürün önerileri ve saçın nasıl korunacağına dair stil tavsiyeleri verilir.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


