<div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 800px;">
        <h1 class="display-3">Cilt Bakımı Hizmetimiz</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Cilt Bakımı</h3>
                            <p>Cildinizi temizlemek, nemlendirmek ve canlandırmak için profesyonel cilt bakımı hizmetleri. Cilt tipinize uygun ürünler ve tekniklerle uygulanan bu bakım, sağlıklı ve ışıltılı bir cilde kavuşmanıza yardımcı olur.</p>
                           
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="img/services-1.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="img/services-2.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Yüz Maskesi Uygulaması</h3>
                            <p>Cildinizi beslemek, nemlendirmek ve tazelemek için özel maskeler uygulanır. Maske içeriği cildinizin ihtiyacına göre seçilerek daha pürüzsüz ve parlak bir görünüm elde edilmesi hedeflenir.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Buhar Banyosu</h3>
                            <p>Gözeneklerin açılmasına yardımcı olan buhar banyosu, ciltteki toksinleri temizler ve cildin nefes almasını sağlar. Cilt bakımı öncesi hazırlık aşaması olarak sıklıkla tercih edilir.</p>
                           
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="img/services-3.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="img/services-4.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Yüz Terapisi</h3>
                            <p>Cildinizin rahatlaması ve daha genç görünmesi için yapılan masaj ve terapi uygulamaları. Ciltteki kan dolaşımını hızlandırarak canlı bir görünüm kazandırır.</p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Vücut Masajı</h3>
                            <p>Kasları gevşetmek ve rahatlatmak için yapılan profesyonel masaj uygulamaları. Cilt bakımının yanı sıra, tüm vücudun rahatlamasını sağlar.</p>
                           
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="img/services-5.jpg"class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="img/services-6.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Mineral Banyoları</h3>
                            <p>
                                Minerallerle zenginleştirilmiş banyolar, cildinizi besler ve yeniler. Vücudunuzu toksinlerden arındırarak daha sağlıklı bir cilde kavuşmanıza yardımcı olur.
                            </p>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Aroma Terapisi</h3>
                            <p>Esansiyel yağlarla yapılan rahatlatıcı bir terapi. Stresi azaltır, ruh halini dengeler ve cildinizin canlanmasına yardımcı olur.</p>
                          
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/mineral.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/tas.jpg" class="img-fluid rounded" alt="" >
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Taş Terapisi</h3>
                            <p>
                                Sıcak taşlarla yapılan bu terapi, kasları gevşetir ve kan dolaşımını artırır. Cildinizin ve vücudunuzun rahatlamasına yardımcı olan bir uygulamadır.
                            </p>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
