<div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 800px;">
        <h1 class="display-3">Ayak Bakımı ve Pedikür Hizmetimiz</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Ayak Analizi ve Danışmanlık</h3>
                            <p>
                                Ayak cildi ve tırnak yapısı analiz edilir, nasır, mantar veya kuru cilt gibi problemler değerlendirilir. Kişiye özel bakım önerileri sunulur.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ayakanalizi.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ayaklarıtemizleme.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Ayakları Temizleme ve Hazırlık</h3>
                            <p>
                                Ayaklar sıcak suda bekletilerek yumuşatılır ve derinlemesine temizlenir. Bu aşama, ayakları sonraki adımlar için hazır hale getirir.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Peeling Uygulaması</h3>
                            <p>
                                Ayaklardaki ölü derileri gidermek için peeling yapılır. Bu işlem, cildin yenilenmesini ve pürüzsüz hale gelmesini sağlar.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ayakpeeling.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/nasırbakımı.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>
                                Nasır Bakımı
                            </h3>
                            <p>
                                Nasır oluşumları dikkatlice temizlenir. Bu işlem, ayaklarda rahatlık sağlar ve pürüzsüz bir yüzey elde edilir.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Tırnak Şekillendirme ve Kütikül Bakımı</h3>
                            <p>Tırnaklar istenilen şekle göre törpülenir ve düzeltilir. Tırnak etleri dikkatlice temizlenir ve kütiküller geriye itilir.</p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ayaktırnaksekiillendirme.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/nemlendirmeayak.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Nemlendirici Maske veya Ayak Maskesi Uygulaması</h3>
                            <p>
                                Ayaklara yoğun nemlendirme sağlayan maskeler veya özel ayak maskeleri uygulanır. Bu işlem, ayakların daha yumuşak ve nemli kalmasını sağlar.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Tırnak Cilası veya Oje Uygulaması</h3>
                            <p>
                                İsteğe bağlı olarak tırnak cilası veya oje uygulanır. Oje rengi, müşterinin tercihlerine göre seçilir.
                            </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ayajoje.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ayakmasaj.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Masaj ve Son Dokunuşlar</h3>
                            <p>
                                Ayaklara rahatlatıcı bir masaj yapılır. Bu işlem kan dolaşımını hızlandırır ve ayaklara taze bir his verir. Son dokunuşlarla bakım tamamlanır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



