<div class="container-fluid about py-5">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5">
                <div class="video">
                    <img src="~/img/hakkımızda.jpg" class="img-fluid rounded small-image" alt="">
                    <div class="position-absolute rounded border-5 border-top border-start border-white" style="bottom: 0; right: 0;">
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div>
                    <h1 class="display-4 mb-4">Pinky Beauty Güzellik Merkezi</h1>
                    <p class="mb-4">
                        Kendinizi en iyi hissetmenizi sağlamak için buradayız. Pinky Beauty'de, cilt bakımı, el-ayak bakımı, saç bakımı, lazer epilasyon, normal ve kalıcı makyaj gibi birçok alanda uzman ekibimizle size özel çözümler sunuyoruz. Amacımız, sağlıklı ve parlak bir görünüm elde etmenize yardımcı olarak doğal güzelliğinizi ön plana çıkarmak. Günlük bakımdan özel gün hazırlıklarına kadar, kişisel ihtiyaçlarınıza göre şekillendirilmiş hizmetlerimizle güzelliğinize güzellik katıyoruz.
                        Her seansımızda, rahatlatıcı bir atmosferde profesyonel bakım deneyimi sunarak, kendinize ayırdığınız bu zamanı en verimli hale getiriyoruz. Pinky Beauty’deki deneyiminiz sadece bir bakım değil, aynı zamanda kendinize yaptığınız bir yatırım olacak.
                    </p>
                    <div class="row g-4">
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <i class="fab fa-gitkraken fa-3x text-primary"></i>
                                <div class="ms-4">
                                    <h5 class="mb-2">Özel Teklifler</h5>
                                    <p class="mb-0">Güzellik sizin hakkınız! Pinky Beauty'de her seans, özenle hazırlanmış özel bakımlarımızla yenilenmenin keyfini yaşayın. Hemen randevunuzu alarak, güzelliğiniz için ilk adımı atın.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-gift fa-3x text-primary"></i>
                                <div class="ms-4">
                                    <h5 class="mb-2">Kampanyalar</h5>
                                    <p class="mb-0">Hayallerinizdeki güzelliğe ulaşmak için şimdi harekete geçin! Pinky Beauty'nin uzman dokunuşlarıyla kendinizi yeniden keşfedin. Fiyat bilgisi ve detaylar için randevu almayı unutmayın.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="text-center">
                    <a asp-controller="_Makeanappointment" asp-action="Index" class="btn btn-primary btn-primary-outline-0 rounded-pill py-3 px-5">Şimdi Randevu Al</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .small-image {
        height: 670px;
        width: 600px;
    }
</style>
