<style>
    /* Ekip fotoğraflarının eşit boyutta görünmesi için */
    .team-img img {
        width: 100%;
        height: 300px; /* Fotoğraf yüksekliğini ayarlayın */
        object-fit: cover;
    }
</style>

<div class="container py-5">
    <div class="text-center mx-auto mb-5" style="max-width: 800px;">
        <h1 class="display-4 mb-4">Ekip Üyelerimiz</h1>
    </div>
    <div class="row g-4">
        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="team-item">
                <div class="team-img rounded-top">
                    <img src="~/img/berre.jpg" class="img-fluid w-100 rounded-top bg-light" alt="">
                </div>
                <div class="team-text rounded-bottom text-center p-4 bg-primary">
                    <h3 class="text-white">Berre ÇAKIR</h3>
                    <p class="mb-0 text-white">Cilt Bakım Uzmanı</p>
                </div>
                <div class="team-social">
                    <a class="btn btn-light btn-square rounded-circle" href="https://www.instagram.com/berrecakirr/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="team-item">
                <div class="team-img rounded-top">
                    <img src="~/img/deniz.jpg" class="img-fluid w-100 rounded-top bg-light" alt="">
                </div>
                <div class="team-text rounded-bottom text-center p-4 bg-primary">
                    <h3 class="text-white">Deniz ÇİÇEK</h3>
                    <p class="mb-0 text-white">Normal ve Kalıcı Makyaj</p>
                </div>
                <div class="team-social">
                    <a class="btn btn-light btn-square rounded-circle" href="https://www.instagram.com/denzciicek/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="team-item">
                <div class="team-img rounded-top">
                    <img src="~/img/emine.png" class="img-fluid w-100 rounded-top bg-light" alt="">
                </div>
                <div class="team-text rounded-bottom text-center p-4 bg-primary">
                    <h3 class="text-white">Emine SERBES</h3>
                    <p class="mb-0 text-white">Saç Bakım Uzmanı</p>
                </div>
                <div class="team-social">
                    <a class="btn btn-light btn-square rounded-circle" href="https://www.instagram.com/eminenurclsknl/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="team-item">
                <div class="team-img rounded-top">
                    <img src="~/img/elif.jpg" class="img-fluid w-100 rounded-top bg-light" alt="">
                </div>
                <div class="team-text rounded-bottom text-center p-4 bg-primary">
                    <h3 class="text-white">Elif YÜKSEL</h3>
                    <p class="mb-0 text-white">Manikür ve Pedikür Uzmanı</p>
                </div>
                <div class="team-social">
                    <a class="btn btn-light btn-square rounded-circle" href="https://www.instagram.com/judivy/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="team-item">
                <div class="team-img rounded-top">
                    <img src="~/img/seher1.jpg" class="img-fluid w-100 rounded-top bg-light" alt="">
                </div>
                <div class="team-text rounded-bottom text-center p-4 bg-primary">
                    <h3 class="text-white">Seher AKGÜL</h3>
                    <p class="mb-0 text-white">Ağda Uzmanı</p>
                </div>
                <div class="team-social">
                    <a class="btn btn-light btn-square rounded-circle" href="https://www.instagram.com/seherakgul_/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="team-item">
                <div class="team-img rounded-top">
                    <img src="~/img/haniye1.jpg" class="img-fluid w-100 rounded-top bg-light" alt="">
                </div>
                <div class="team-text rounded-bottom text-center p-4 bg-primary">
                    <h3 class="text-white">Hanieh SIAHKOUHI</h3>
                    <p class="mb-0 text-white">Lazer Epilasyon Uzmanı</p>
                </div>
                <div class="team-social">
                    <a class="btn btn-light btn-square rounded-circle" href="https://www.instagram.com/haniehsiahkouhii/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
