<div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 800px;">
        <h1 class="display-3">Ağda Hizmetimiz</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Cilt Hazırlığı</h3>
                            <p>Ağda işlemi öncesinde, cildin temizlenip nemlendirilmesi sağlanır. Bu aşama, cildin ağda sırasında tahriş olmasını önlemeye yardımcı olur.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/ağdacilthazırlığı.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/agdaturu.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Uygun Ağda Türünün Seçimi</h3>
                            <p>Cilt tipi ve bölgesine göre sıcak, soğuk veya şeker ağda gibi uygun ağda türü seçilir. Her bölge için özel olarak üretilmiş ağdalar kullanılır.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Sıcak Ağda Uygulaması</h3>
                            <p>Ağda işleminde tercih edilen yöntem sıcak ağda ise, ağda cilt yüzeyine dikkatlice uygulanır ve hızlı bir şekilde çekilir. Bu işlem, kalın tüylerin kolayca alınmasını sağlar.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/sıcakagda.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/sogukagda.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>
                                Soğuk Ağda Uygulaması
                            </h3>
                            <p>
                                Soğuk ağda bantları, hassas ciltlerde veya ince tüylerin bulunduğu bölgelerde kullanılır. Cilde yapıştırılarak çekilen bantlar ile hızlı ve etkili bir sonuç elde edilir.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Ağda Sonrası Cilt Temizliği</h3>
                            <p>Ağda işlemi tamamlandıktan sonra cilt temizlenir. Bu işlem, ağda kalıntılarını temizler ve cildin rahatlamasını sağlar.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/agdasonrasıcilttemziligi.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/yatıstırıcı.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Cilt Yatıştırıcı Uygulama</h3>
                            <p>
                                Ağda sonrası cildi yatıştırmak ve kızarıklığı azaltmak için özel losyon veya kremler uygulanır. Bu, cildin tahriş olmasını önler ve nem dengesini korur.

                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Düzenli Bakım Önerileri</h3>
                            <p>
                                Müşteriye, ağda sonrası cilt bakımında dikkat edilmesi gerekenler hakkında bilgi verilir. Özellikle ilk birkaç gün, ciltte tahrişin önlenmesi için bazı tavsiyeler yapılır.
                            </p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/duzenbakımonerileri.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/takip.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Takip ve Randevu Planlaması</h3>
                            <p>
                                Bir sonraki ağda uygulaması için önerilen süreye göre randevu planlanır. Bu sayede tüylerin yeniden çıkma sürecine göre düzenli bakım sağlanır.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

