<div class="container py-5">
    <div class="mx-auto text-center mb-5" style="max-width: 800px;">
        <h1 class="display-3">Normal Makyaj Hizmetimiz</h1>
    </div>
    <div class="row g-4">
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Cilt Hazırlığı</h3>
                            <p>Cilt,makyaja hazırlanmak üzere temizlenir ve nemlendirilir. Bu aşamada cilt tipine uygun bir nemlendirici kullanılır, böylece makyaj daha pürüzsüz bir şekilde uygulanır.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                           <img src="~/img/cilthazırlı.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/primer.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Primer Uygulaması</h3>
                            <p>Makyajın kalıcılığını artırmak ve cildi pürüzsüzleştirmek için bir baz (primer) uygulanır. Primer, gözeneklerin görünümünü azaltır ve fondötenin daha uzun süre dayanmasını sağlar.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Fondöten ve Kapatıcı Uygulaması</h3>
                            <p>Cilt tonuna uygun fondöten ile cilt tonu eşitlenir. Göz altı morlukları veya ciltteki lekeler için kapatıcı (concealer) uygulanır, böylece daha kusursuz bir görünüm elde edilir.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/fondöten.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/pudra.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Pudra ile Sabitleme</h3>
                            <p>Fondöten ve kapatıcı uygulandıktan sonra, makyajın kalıcılığını artırmak ve parlaklığı önlemek için hafif bir pudra uygulanır.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Kontür ve Aydınlatıcı</h3>
                            <p>Yüz hatlarını belirginleştirmek için hafif kontür uygulaması yapılır. Elmacık kemikleri, burun ve çene çizgisi gibi alanlara aydınlatıcı (highlighter) eklenir. Bu işlem, yüzün daha canlı ve üç boyutlu görünmesine yardımcı olur.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/kontür.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/allık.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Allık Uygulaması</h3>
                            <p>
                                Yanaklara doğal bir renk kazandırmak için cilt tonuna uygun allık uygulanır.
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-end border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-8">
                        <div class="services-content text-end">
                            <h3>Göz Makyajı</h3>
                            <p>Göz şekline ve tercihlere göre hafif veya belirgin bir göz makyajı yapılır. Göz farı, göz kalemi ve maskara gibi ürünler ile gözlerin belirginliği artırılır. Günlük makyaj için daha doğal tonlar tercih edilir.</p>

                        </div>
                    </div>
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/göz.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="services-item bg-light border-4 border-start border-primary rounded p-4">
                <div class="row align-items-center">
                    <div class="col-4">
                        <div class="services-img d-flex align-items-center justify-content-center rounded">
                            <img src="~/img/dudak.jpg" class="img-fluid rounded" alt="">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="services-content text-start">
                            <h3>Dudak Makyajı</h3>
                            <p>
                                Dudaklara, doğal görünüm sağlayacak hafif bir ruj veya parlatıcı sürülür. İsteğe bağlı olarak dudak kalemi ile dudak şekli belirginleştirilebilir.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
